ion-input {
  --color: #f4f5f8;
}

ion-item {
  padding-top: 3px;
  position: block;
  margin-bottom: 2px;
}

p {
  font-weight: bold;
}

ion-content {
  --background: linear-gradient(315deg, #c992cf 0%, #105485 63%);
}

ion-button {
  margin-top: 20px;
  margin-bottom: 20px;
}
