<ion-content>
  <ion-app>
    <ion-content fullscreen class="ion-padding" scroll-y="false">
      <ion-slides>
        <ion-slide>
          <div class="slide">
            <img src="assets/img/logo.png" />
            <h2>Bonjour!</h2>
            <p>
              Il est bien le temps de digitaliser notre mode de vie. <br />
              Trashify est votre nouveau campagnon pour le comfort.
            </p>
          </div>
        </ion-slide>

        <ion-slide>
          <img src="assets/img/logo.png" />
          <h2>Pourquoi Trashify?</h2>
          <p>
            <b>Trashify</b> Vous n'êtes plus obligés d'attendre le camion de
            poubelle ni de courir derriere eux pour vous debarasser de la
            poubelle.
          </p>
        </ion-slide>

        <ion-slide>
          <img src="assets/img/logo.png" />
          <h2>Why Trashify?</h2>
          <p>
            <b>Trashify</b> Il suffit juste de demander un chaffeur et celui-ci
            sera present sur place pour assurer la proprete et la rapidite de
            rejet de vos dechets.
          </p>
        </ion-slide>

        <ion-slide>
          <img src="assets/img/logo.png" />
          <h2>On commence</h2>
          <ion-button fill="clear" (click)="routeToConnect()"
            >LET'S GO <ion-icon slot="end" name="arrow-forward"></ion-icon
          ></ion-button>
        </ion-slide>
      </ion-slides>
    </ion-content>
  </ion-app>
</ion-content>
