<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title size="large">Trashify</ion-title>
  </ion-toolbar></ion-header
>

<ion-content [fullscreen]="true">
  <div class="map-wrapper">
    <div id="map_center">
      <ion-icon name="location"></ion-icon>
    </div>
    <div #map id="map"></div>
  </div>
  <ion-button (click)="loadMap()" shape="round" color="dark">
    <ion-icon name="locate"></ion-icon>
  </ion-button>

  <ion-grid>
    <ion-row>
      <ion-col size="3">
        <b>Address</b>
      </ion-col>
      <ion-col> {{address}} </ion-col>
    </ion-row>

    <ion-row>
      <ion-item>
        <ion-label position="floating">Floating Label</ion-label>
        <ion-input></ion-input>
      </ion-item>
    </ion-row>
  </ion-grid>
</ion-content>
